<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectMOIS</title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/Content/heroic-features.css" rel="stylesheet">


    <link href="/Content/ourcss.css" rel="stylesheet">   
</head>
<body>
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">
                        Toggle navigation
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                </button>
                <a class="navbar-brand" href="/" asp-area="" asp-controller="Home" asp-action="Index">BLUE TRAVEL</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/" asp-area="" asp-controller="Home" asp-action="Index">Vyhledávání</a>
                    </li>
                    <li>
                        <a href="/trip" asp-area="" asp-controller="Trip" asp-action="Index">Akční hity</a>
                    </li>
                    <li>
                        <a href="/home/contact"  asp-area="" asp-controller="Home" asp-action="Contact">Kontakty</a>
                    </li>
                    <li>
                        <a href="/home/about" asp-area="" asp-controller="Home" asp-action="About">O nás</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>  
    <div class="container body-content">
        @RenderBody()
        <hr />        
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright &copy; UHK, MOIS 2017
                    </p>
                </div>
            </div>
        </footer>   
    </div>



    @RenderSection("Scripts", required: false)
</body>
</html>
